<%- partial("partial/_page-header.ejs") %>

<div class="main">
<%- partial("partial/_section-images.ejs") %>
<%- partial("partial/_section-basics.ejs") %>
<%- partial("partial/_section-navbars.ejs") %>
<%- partial("partial/_section-tabs.ejs") %>
<%- partial("partial/_section-pagination.ejs") %>
<%- partial("partial/_section-notifications.ejs") %>
<%- partial("partial/_section-typography.ejs") %>
<%# partial("partial/_section-js-components.ejs") %>
<%# partial("partial/_section-carousel.ejs") %>
<%# partial("partial/_section-nucleo-icons") %>
<%# partial("partial/_section-examples-intro") %>
<%# partial("partial/_section-signup") %>
<%# partial("partial/_section-examples") %>
<%# partial("partial/_section-download") %>

</div>